.banner {
  position: relative;
  background-image: url('https://raw.githubusercontent.com/Shiham123/Img-donation/master/bg.jpg');
  background-size: cover;
  background-position: center center;
  max-width: 1640px;
  max-height: 70vh;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}
